<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <title>Navbar</title>
    <style>
        body {
            margin: 0;
            font-family: Arial, sans-serif;
        }

        a {
            color: white;
            text-decoration: none;
            font-size: 100%;
        }

        a:hover {
            color: lightgrey;
        }

        .content {
            padding: 20px;
        }
    </style>
</head>

<body>

    <nav style="position: fixed; width: 100%;  background-color: #333; padding: 10px;">
        <a href="/profile">Profile</a>
        <a href="/images">Images</a>
        <a href="/videos">Videos</a>
        <a href="/audios">Audio</a>
        <a href="/documents">Documents</a>
        <a href="/about">About</a>
    </nav>
    <br>


    <div class="download"><br>
        <p>filename:{{filename}}</p>
        <img src="
        {{url_for('static',filename=path)}}" alt="oops!" style="width: 40ch;">
    </div><br>
    <div>
        <a href="{{url_for('static',filename=path)}}"><button>preview</button></a>

        <a href="/download?filepath={{path}}"><button>Download</button></a>

        <a href="/delete?filepath={{path}}"><button>Delete</button></a>
    </div>
</body>

</html>